@model IEnumerable<PruebaPart1.Models.Persona_client>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Bienvenido al Manejador de Clientes </h1>

<p>
    <a asp-action="Create">Nuevo Registro</a>
</p>

<p>
    <a asp-action="Client_Masculino">Ver los clientes Hombres (Masculino)</a>
</p>

<p>
    <a asp-action="Client_Femenino">Ver los clientes Mujeres (Femenino)</a>
</p>

<p>
    <a asp-action="MayorEdad">Persona con mayor edad</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.primerNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.segundoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.primerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.segundoApellido)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>





        <h1 style="text-align:center">Nombre completo de clientes registrados</h1>

@foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Documento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.primerNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.segundoNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.primerApellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.segundoApellido)
                    </td>
                   
                    <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
    
        
}
    </tbody>
</table>
